.bg-images{
  text-align: center;
}
.bg-images img{
  width:800px;
  object-fit: cover;
}
.bg-images{
  background-color: #f3f3f3;
}
.main-head-of-products{
  color:black;
  padding-top:100px;
  text-align: center;
}
.colored-word{
  color:#14332b;
}
.colored-word-bigger-size{
  color:#14332b;
  font-size:35px;
}
.products-main {
  margin: 30px 0;
  width: 100%;
  padding: 0;
}
.msg-ps{
  color:black;
}

/* Loader */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #14332b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -20px;
}

/* Products styling */
.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 0 50px;
  /* justify-content: center; */
}

.product {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    position: relative;
}

.image-count {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 2px 5px;
  background: #6666666d;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
}

/* .image-count span {
  color: red;
  font-weight: bold;
  font-size: 8px;
  z-index: 30;
} */

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-image-wrapper {
    width: 100%;
    height: 280px;
    overflow: hidden;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product:hover .product-image {
    transform: scale(1.05);
}

.product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sub-product-title h3 {
  color: #333;
  margin: 20px 0;
}

.product-container .product h4 {
  font-size: 16px;
  color: #333;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-weight: bolder;
  text-transform: uppercase;
}

.product-container .product span {
  font-size: 14px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 500;
}

.product-container .product .price {
  font-size: 12px;
  color: #14332b;
  font-weight: bolder;
  margin: auto 0;
}

.product-container .product .product-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product-container .product .add-to-cart-btn {
  background-color: #14332b;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.2s;
}

/* category filter */
.product-set-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .product-set-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-set-header .product-category {
  padding: 5px 10px;
  font-size: 14px;
  width: 150px;
}

/* page navigator */
.page-navigator {
  display: flex;
  justify-content: center;
  margin: 50px  0;
  gap: 10px;
}

.page-navigator button {
  background-color: #14332b;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.page-navigator button:hover {
  background-color: #d7374a;
}

.page-navigator button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-navigator .number-show {
  margin:  auto 0;
}

.page-navigator .number-show .active {
  background-color: #14332b;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
}

.page-navigator .number-show span {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
}

.sry-msg{
  color:black;
  text-align:center;
  padding-bottom:20px;
}

.last-hr-of-product{
  border: 1px solid black;
  width:70%;
}

.cart-details{
  padding-left:50px;
}
.cart-details li{
  list-style-type:decimal;
}
.head-of-cart{
  color:#14332b;
}
.hr-of-cart-head{
  border: 1px solid black;
  width:120px;
}
.btn-clear-list{
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border:none;
}
.btn-clear-list:hover{
  background-color: #ece3e3;
}
.ul_pr li{
  font-size:18px;
}

@media screen and (max-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 30px;
  }
  
  .product-image-wrapper {
      height: 240px;
  }
}

@media screen and (max-width: 640px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 20px;
  }
  
  .product-image-wrapper {
      height: 200px;
  }
}